body{
    background-image: url("background/01.png");
    transition: all 1s;
}



#dialogBox{ 
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 1%;
    height: 20%;
    width: 99%;
    border-radius: 10px;
    background-color: #ebeae6;
    opacity: 0.8;
}

#textBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 99%;
    border-radius: 10px;
    background-color: #c2bfbf;
    opacity: 0.6;
}



#updateText{
    font-size: 25px;
    font-weight: bolder;
}
